.header {
    background-color: red;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    position:fixed;
    width: 100%;
}

.header nav ul{
    display: flex;
    flex-direction: row;
}

.header nav ul li{
    padding: 10px;
    list-style: none;
}

.secvideo {
    padding-top: 150px;
}

.secform {
    background-color: rgba(26, 0, 0, 0.76);
    padding: 20px;
}


.secprod {
    padding: 10px;
}

#sec4, #sec2, #sec3 {
    margin: 200px auto;
}